// Place all the styles related to the cv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: black

$light_gray: black

$qr_size: 7px

#paged_doc
  color: black
  font-family: 'Arial'
  font-size: 20pt
  
  .description
    text-align: justify

  h1
    text-align: center
    color: $gray

  h2
    font-family: "Arial Black"
    // color: $light_gray !important
    margin-top: 50px
    
    span
      color: $gray !important

  strong.name
    font-size: 22pt

  .pos
    margin-top: 30px
    // margin-bottom: 10px
    border: double 6px black

  .education .pos
    border: none

  .pos .value
    font-size: 22pt

  .row.li
    // margin-left: 0px
    // margin-right: 0px
    border-top: dashed 1px $light_gray

  .row.li:first-child
    border-top: none

  .row.li .col-sm-3 li
    // margin-left: 50px

  // .description
    // font-family: "Times New Roman"

  .vcard-qr table
    float: right

  .three-cols .col-xs-4:nth-child(even)
    background-color: #eeeeee !important

  .ul .row
    border-left: solid 1px black
    border-right: solid 1px black

  .ul .row:last-child
    border-bottom: solid 1px black

  .page
    // height: 2002px
    height: 1952px
    // border: solid blue 1px // debug

  .page > .content
    border: solid white 1px
    // border: solid red 1px // debug

  .footer
    // border: solid green 1px
    border-top: solid black 1px
    height: 50px

    .left
      float: left
      margin-left: 20px

    .right
      float: right
      margin-right: 20px
  
  .label
    color: inherit

  .agreement
    margin-top: 50px
    padding: 0px 20px
    border-top: solid black 1px
    font-size: 14pt

    .row:first-child
      margin-bottom: 10px

table
  border-width: 0
  border-style: none
  border-color: #0000ff
  border-collapse: collapse

td
  border-width: 0
  border-style: none
  border-color: #0000ff
  border-collapse: collapse
  padding: 0
  margin: 0
  width: $qr_size
  height: $qr_size

.qr
  // float: right
  position: absolute
  right: 0px

.qr_row
  // float: left
  // width: 100%
  clear: both

.qr_bit
  width: $qr_size
  height: $qr_size
  float: left

.black
  background-color: black !important

.white
  background-color: white
